body
{
	background: url("Images/index3.jpg") no-repeat center fixed;
	background-size: cover;
}

.encryption_button
{
	border: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 10px;
	background: linear-gradient(to bottom right,red,blue);
	color: white;
	font-size: 22;
	text-align: center;
	padding: 15px;
	position: relative;
	top: 300px;
	left: 70px;
	width: 180px;
	height: 80px;
}
.decryption_button
{
	border: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 10px;
	background: linear-gradient(to bottom right,red,blue);
	color: white;
	font-size: 22;
	text-align: center;
	padding: 15px;
	position: relative;
	top: 300px;
	left: 90px;
	width: 180px;
	height: 80px;
}	
.water_marks
{
	background: red;/*linear-gradient(to top,Blue,Fuchsia);*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0.2;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bolder;
	z-index: -1;
	font-size: 130px;
}
.back_btn_css
{
	border-radius: 50%;
	border: 0;
	position: absolute;
	left: 25px;
	top: 25px;
	background-image: linear-gradient(to bottom left,hotpink,mediumvioletred);
	width: 75px;
	height: 75px
}
#output_image
{
	width: 270px;
	height: 200px;
	position: absolute;
	left:670px;
	top: 120px;
	border-radius: 25px;
	border-style: groove;
}
	
.encryption_upload_btn
{
	position: absolute;
	left: 740px;
	bottom: 50px;
	border-radius: 25px;
	background-image: linear-gradient(to top,blue,navy);
	color: white;
	width: 110px;
	height: 60px;
}
#upload_text
{
	position: absolute;
	left: 25px;
	top: 120px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	border-style: groove;
}
.upload_name
{
	position: absolute;
	left: 200px;
	top: 70px;
	border-radius: 25px;
	border-style: groove;
	padding: 3px
}
.browse_image
{
	position: absolute;
	left: 430px;
	top:70px;
	border-radius: 25px;
	border-style: groove;
	padding: 3px;
	background-image: linear-gradient(to top,blue,navy);
	color: white;
	height: 27px;
	width: 100px;
}
	