body
{
	background-color: #2C3335;
	background-size: cover;
}

.encryption_button
{
	border: 0px;	
	background: #f44336;
	color: white;
	font-size: 22;
	text-align: center;
	padding: 15px;
	position: relative;
	top: 300px;
	left: 70px;
	width: 180px;
	height: 80px;
}

.encryption_button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.decryption_button
{
	border: 0px;	
	background: #008CBA;
	color: white;
	font-size: 22;
	text-align: center;
	padding: 15px;
	position: relative;
	top: 300px;
	left: 90px;
	width: 180px;
	height: 80px;
}	

.decryption_button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.water_marks
{
	background: white;/*linear-gradient(to top,Blue,Fuchsia);*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0.2;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bolder;
	z-index: -1;
	font-size: 130px;
}
.back_btn_css
{
	border-radius: 100%;
	border: 0;
	position: absolute;
	left: 25px;
	top: 25px;
	background-color: rgb(138, 138, 138);
	color: white;
	font-size: medium;
	width: 75px;
	height: 75px
}
#output_image
{
	width: 270px;
	height: 200px;
	position: absolute;
	left:670px;
	top: 120px;	
	border-style: groove;
}
	
.encryption_upload_btn
{
	position: absolute;
	left: 744px;
	bottom: 50px;
	background: #f44336;	
	color: white;
	width: 110px;	
}
#upload_text
{
	position: absolute;
	left: 25px;
	top: 120px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;	
	padding: 10px;
	border-style: groove;
}
.upload_name
{
	position: absolute;
	left: 200px;
	top: 70px;
	border-radius: 25px;
	border-style: groove;
	padding: 3px
}
.browse_image
{
	position: absolute;
	left: 430px;
	top:70px;	
	border-style: groove;
	padding: 3px;
	background-color: #f44336;
	color: white;
	height: 27px;
	width: 100px;
}
.badging
{
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: red;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 1;
	font-family: sans-serif;
	font-style: italic;
}
	
	